body
{
    background: url('blurry_background.png') 100% 100%;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #e9eed1;
}

h1
{
    font-size: 80px;
    text-align: center;
}

.main_description
{
    text-align: center;
    width: 1000px;
    margin: auto;
}